* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-fundo);
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    /* Para o scroll ser suave */
}

section {
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: 'titulo';
    src: url(Orbitron-Regular.ttf) format('opentype');
}

@font-face {
    font-family: texto;
    src: url(Lato-Regular.ttf) format('opentype');
}

:root {
    --cor-primaria: #4dff89;
    --cor-segundaria: #1f4023;
    --cor-fundo: #00150b;
    --margem-padraoX: 5rem;
    /* esquerda e direita */
    --margem-padraoY: 3.5rem;
    /* topo e baixo */
}

/*PÁGINA INICIAL*/
.fundo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
    pointer-events: none;
}

.fundo-retangulo {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background: transparent;
    border: 6.5px solid var(--cor-primaria);
    width: 97%;
    height: 95%;
    z-index: -1;
    pointer-events: none;
}

.logo-link {
    position: fixed;
    margin-block: var(--margem-padraoY);
    /* topo e baixo */
    margin-inline: var(--margem-padraoX);
    /* esquerda e direita */
    z-index: 1;
}

.logo {
    width: 80px;
    height: auto;
}

.nav-links {
    position: fixed;
    list-style: none;
    margin-block: var(--margem-padraoY);
    right: 50%;
    transform: translateX(50%);
    display: flex;
    gap: 60px;
    z-index: 10;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-family: 'titulo';
    font-size: 1rem;
    z-index: 1;
}

.nav-contato {
    position: fixed;
    right: var(--margem-padraoX);
    top: var(--margem-padraoY);
    z-index: 1;
}


.contato-btn {
    text-decoration: none;
    color: black;
    font-family: 'titulo';
    font-weight: 700;
    font-size: 1rem;
    border: 1.5px solid var(--cor-segundaria);
    background: var(--cor-primaria);
    padding: 10px 50px 10px 20px;
    /* espaço pro texto e seta */
    border-radius: 15px;
    position: fixed;
    z-index: 2;
    /* necessário pro ::before */
}

.contato-btn::before {
    content: "";
    position: absolute;
    right: 20px;
    /* seta a 20px da borda do botão */
    top: 50%;
    transform: translateY(-50%) rotate(-135deg);
    width: 20px;
    height: 20px;
    background: url("svgs/seta.svg") no-repeat center;
    background-size: contain;
    filter: brightness(0);
}

.text-home {
    position: absolute;
    left: var(--margem-padraoX);
    top: 40%;
    z-index: 2;
}

.title {
    font-family: 'titulo';
    font-size: 7.5rem;
    color: white;
    z-index: 2;
}

.subtitle {
    font-family: 'titulo';
    font-size: 3.5rem;
    color: var(--cor-primaria);
    z-index: 2;
}

.bola {
    position: absolute;
    width: 35%;
    height: auto;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    filter: blur(50px);
    z-index: 1;
    pointer-events: none;
}

.cubo {
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    width: 30%;
    z-index: 1;
    transition: 1.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.cubo:hover {
    transform: rotate(190deg);
    transition: 1s all ease;
}

.scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: var(--cor-segundaria);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: var(--margem-padraoY);
    border: 1px solid var(--cor-primaria);
    opacity: 0.4;
    transition: 0.4s linear;
    z-index: 2;
}

.scroll::before {
    content: "";
    position: absolute;
    left: 50%;
    /* seta a 20px da borda do botão */
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: url("svgs/seta.svg") no-repeat center;
    background-size: contain;
}

.scroll p {
    position: absolute;
    left: 54%;
    top: -60%;
    font-size: 0.85rem;
    transform: translateX(-50%);
    color: white;
    font-family: 'titulo';
    letter-spacing: 0.2rem;
}

.scroll:hover,
.social-link:hover {
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--cor-primaria));
}

.social-container {
    position: absolute;
    left: var(--margem-padraoX);
    bottom: var(--margem-padraoY);
    display: flex;
    flex-direction: row;
    gap: 25px;
    z-index: 2;
}

.social-link {
    display: inline-block;
    padding: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px transparent;
    z-index: 2;
    opacity: 0.4;
}

.social-icon {
    width: 24px;
    height: auto;
    filter: brightness(0) invert(1);
    /* isso transforma SVG preto em azul neon */
    z-index: 2;
}

.corrente {
    position: absolute;
    height: auto;
    width: 40%;
}

.container-corrente {
    position: relative;
}

.container-hand {
    position: relative;
}

.hand {
    position: absolute;
    height: auto;
    width: 30%;
    right: -2.5%;
    transform: rotate(180deg) rotate3D(90deg);
}


.titulo-sobre {
    font-family: 'titulo';
    color: white;
    text-align: justify;
    font-size: 10rem;
}

.texto-sobre {
    position: absolute;
    font-family: 'texto';
    color: white;
    font-size: 1.5rem;

}

.container-sobre {
    position: relative;
  margin-inline: var(--margem-padraoX);
    /* esquerda e direita */
    margin-block: 5%;
    /* topo e baixo */
    text-align: left;
    width: 45%;
}